@model Order
@{
    string action = ViewBag.Action ?? string.Empty;
}

<h2>@(action?.ToLower() == "create" ? "Добавление заказа" : $"Заказ {Model.OrderId}")</h2>
<form method="post" asp-action="@action" asp-controller="home">
    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="SenderCity" class="col-form-label">Город отправителя</label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="SenderCity" class="form-control" />
        </div>
        <div class="col">
            <span class="text-danger" asp-validation-for="SenderCity"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="SenderAddress" class="col-form-label">Адрес отправителя</label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="SenderAddress" class="form-control" />
        </div>
        <div class="col">
            <span class="text-danger" asp-validation-for="SenderAddress"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="ReceiverCity" class="col-form-label">Город получателя</label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="ReceiverCity" class="form-control" />
        </div>
        <div class="col">
            <span class="text-danger" asp-validation-for="ReceiverCity"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="ReceiverAddress" class="col-form-label">Адрес получателя</label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="ReceiverAddress" class="form-control" />
        </div>
        <div class="col">
            <span class="text-danger" asp-validation-for="ReceiverAddress"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="OrderWeight" class="col-form-label">Вес груза</label>
        </div>
        <div class="col-6">
            <input type="number" step="0.001" min="0" asp-for="OrderWeight" class="form-control" />
        </div>
        <div class="col">
            <span class="text-danger" asp-validation-for="OrderWeight"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="PickupDate" class="col-form-label">Дата забора груза</label>
        </div>
        <div class="col-6">
            <input type="date" asp-for="PickupDate" class="form-control" />
        </div>
        <div class="col">
            <span class="text-danger" asp-validation-for="PickupDate"></span>
        </div>
    </div>
    <p>
        <input type="submit" class="btn @(action?.ToLower() == "create" ? "btn-primary" : "btn-danger")"
               value="@(action?.ToLower() == "create" ? "Отправить" : "Закрыть")" />
    </p>
</form>